.media-news-section{background-color: #f3f8fe;}
.media-news-main{padding: 92px 0 100px 0;}
.media-news-head{font-size: 1.375rem; letter-spacing: -0.37px; color: #003a70; font-weight: bold; margin-bottom: 56px;}
.media-news-list:hover{background-color: white;}
.media-news-image{clip-path: polygon(0 0, 100% 0, 100% 99%, 0 88%);}
.media-news-text{padding: 34px 155px 38px 32px; font-size: 1.313rem; font-weight: normal; line-height: 1.875rem; letter-spacing: -0.35px;}
.media-btn-text{display: none; font-size: 0.688rem; letter-spacing: 1.6px; text-transform: uppercase;}
.media-news-list:hover .media-btn-text{display: block; font-size: 0.688rem; font-weight: bold; letter-spacing: 1.6px; color: #0055b8; margin-right: 9px;}
.media-news-list:hover .fa-arrow-right{transform: rotate(-45deg);}
/*-- media starts here --*/
@media only screen and (min-width: 1024px){
.media-news-row{gap: 50px;}
.media-news-list{flex: calc(33.33% - 50px);}
.media-news-slider.slick-slider{width: 100vw;}
.media-news-list.slick-slide{margin-right: 50px; width: 420px;}

}