.repeater-content{color: #1a1919;}
.repeater-content h2{ font-weight: normal;   font-size: 2.688rem; letter-spacing: -0.72px; color: #003a70; margin-bottom: 24px;}
.repeater-content p{font-size: 1rem; line-height: 1.563rem; letter-spacing: -0.63px; margin-bottom: 30px;}
.repeater-content span{display: block; font-weight: bold; color: #61b0bc; font-size: 1.375rem; letter-spacing: -0.37px; margin-bottom: 21px;}


 /*-- media starts here --*/
 @media only screen and (min-width: 1024px){
    .repeater-list{gap: 166px; margin-bottom: 90px;}
    .repeater-list:nth-child(even){flex-direction: row-reverse;}
    .repeater-content{flex: 0 0 calc(100% - 704px);}
    .repeater-image{flex: 0 0 538px;}
    .repeater-list:nth-child(odd) .repeater-content{padding-left: 117px;}
    .repeater-list:nth-child(even) .repeater-content{padding-right: 117px;}
 }