@import url("_repeater-section.css");
@import url("_customizable-cta-section.css");

/* Banner section */
.esg-banner-section{position: relative; z-index: 1; clear: both; width: 100%;}
.esg-banner-bg{position: absolute;}
.esg-main{padding-top: 222px;}
.esg-banner-text{color: #8fd5df;}


/*-- media starts here --*/
@media only screen and (min-width: 1024px){
    .container-lg{padding: 0;}
    .esg-image-1{flex: 0 0 436px; margin-right: 86px; order: 1;}
    .esg-image-2{flex: 0 0 588px; order:3;}
    .esg-banner-text{flex: 0 0 calc(100% - 1024px); order: 2;}
 }

 /* Intro section */
   .common-intro-main{padding: 128px 0 115px 0;}
   .common-intro-text h2{color: var(--heading); font-weight: normal;margin-bottom: 40px;}

/* hr section */
   .esg-hr{margin-bottom: 90px;}

/* Esg policy section */
   .esg-policy-section{background-color: #f3f8fe;}
   .esg-policy-main{padding: 90px 0;}
   .esg-policy-title h2{font-size: 1.37rem; letter-spacing: -0.37px; color: var(--heading); margin-bottom: 50px;}
   .esg-policy-list{margin-bottom: 52px;}
   .esg-policy-icon{background-color: #ffffff; width: 48px; height: 47px;}
   .heading-three{font-size: 1.125rem; letter-spacing: -0.3px; color: var(--heading); font-weight: 600; margin-bottom: 22px;}
   .esg-policy-text{font-size: 0.875rem;line-height: 1.5rem; letter-spacing: -0.41px; }

/*-- media starts here --*/
@media only screen and (max-width: 1700px){
   .container-md{max-width: 1125px;}
   .common-intro-main{gap: 85px;}
   .common-intro-text{flex: 0 0 538px;}
   .common-intro-desc{flex: 0 0 calc(100% - 623px);}
   .esg-policy-row{gap: 50px;}
   .esg-policy-list{gap: 20px; flex: 0 0 calc(25% - 38px);}
   .esg-policy-text{flex: 0 0 calc(100% - 68px);}
   
   }

@media only screen and (max-width: 1299px) and (min-width: 1024px){
   .container-md{padding: 0 20px;}
   .common-intro-main{gap: 65px; padding: 90px 0;}
   .common-intro-text{flex: 0 0 480px;}
   .common-intro-desc{flex: 0 0 calc(100% - 545px);}
   .esg-policy-main{padding: 75px 0 35px;}
   .esg-policy-row{gap: 20px;}
   .esg-policy-list{gap: 20px; flex: 0 0 calc(33.333% - 18px); margin-bottom: 30px;}
   .esg-policy-text{flex: 0 0 calc(100% - 68px);}


   }
@media only screen and (max-width: 1023px) and (min-width: 768px){
   .container-md{padding: 0 20px;}
   .common-intro-main{padding: 75px 0 45px; display: block;}
   .common-intro-text h2{margin-bottom: 25px;}
   .common-intro-text{margin-bottom: 50px;}
   .esg-policy-main{padding: 75px 0;}
   .esg-policy-row{gap: 50px;}
   .esg-policy-list{gap: 20px; flex: 0 0 calc(50% - 28px); margin-bottom: 0;}
   .esg-policy-text{flex: 0 0 calc(100% - 68px);}


}
@media only screen and (max-width: 767px) and (min-width: 200px){
   .container-md{padding: 0 20px;}
   .common-intro-main{padding: 75px 0 45px; display: block;}
   .common-intro-text h2{margin-bottom: 25px;}
   .common-intro-text{margin-bottom: 50px;}
   .esg-hr{margin-bottom: 0;}
   .esg-policy-main{padding: 75px 0;}
   .esg-policy-row{display: block;}
   .esg-policy-list{gap: 0 20px; margin-bottom: 40px;}
   .esg-policy-list:last-child{margin-bottom: 0;}
   .esg-policy-text{flex: 0 0 calc(100% - 68px); padding-top: 16px;}
   .heading-three{margin-bottom: 0;}





}