/* Banner section */
    .global-loc-banner-section{clear: both; width: 100%; z-index: 1; padding: 131px 0 0 0; background-color: #003a70;}
    .global-loc-banner-txt .optional-text{color: #8fd5df;}
    .global-loc-banner-txt h1{color: var(--white); margin-bottom: 27px;}
    .global-loc-circles{ height: 100%; width: 100%; max-width: 515px; }   
    .global-loc-circle{position: absolute; border: 3px solid var(--small); border-radius: 50%;   content: ""; height: 100%; display: block; position: absolute; }
    .global-circle-img img{border-radius: 50%; }
    .loc-circle-1{width: 206px; height: 204px; top: 0; left: 0; padding: 15px;}
    .loc-circle-2{width: 168px; height: 166px; top: 144px; right: 0; padding: 12px;}
    .loc-circle-3{width: 168px; height: 166px; top: 277px; left: 0; padding: 12px;}
    .loc-circle-4{width: 214px; height: 212px; top: 387px; right: 0; padding: 17px;}
    .global-loc-circle::after{content: ""; background: var(--small); position: absolute;}
    .loc-circle-1::after{left: 270px; top: -5px; width: 3px; height: 166px; transform: translateY(50%) rotate(-72deg); transform-origin: center right;}
    .loc-circle-2::after{left: -190px; top: -125px; width: 3px; height: 210px; transform: translateY(50%) rotate(70deg); transform-origin: bottom left;}
    .loc-circle-3::after {left: 298px; top: -57px; width: 3px; height: 170px; transform: translateY(50%) rotate(-65deg); transform-origin: bottom right;}

/* Global location section */
    .global-location-section{border-bottom: 2px solid rgba(0, 58, 85, 0.13);}
    .container-xmd{max-width: 1122px; margin:0 auto; width:100%;}
    .global-location-wrap{padding: 50px 0 84px;}
    .loc-accordion-head{ position: relative; padding: 43px 0 45px; font-size: 1.375rem; letter-spacing: -0.37px; font-weight: bold; color: var(--anchor-hover); border-top: 2px solid rgba(0, 58, 85, 0.13); cursor: pointer;}
    .loc-accordion-head::after{content: "\f063";   right: 0px; top: 50%; font-family: 'Font Awesome 6 Pro'; font-weight: 600; font-size: 16px; display: inline-block;line-height: 0; margin: auto; position: absolute; }
    .loc-accordion-head.open::after{content: "\f062";}
    .loc-accordion-list:first-child .loc-accordion-head{border-top: none;} 
    .global-location-col{font-size: 0.875rem; font-weight: 300; letter-spacing: -0.41px; color: var(--body-text);}
    .global-location-col span{display:block; font-size: 1.125rem; letter-spacing: -0.3px; font-weight: 600; line-height: normal; color: var(--anchor-hover); margin-bottom: 25px;}
    .global-location-col p{font-size: 0.875rem; line-height: 1.5rem; letter-spacing: -0.41px; color: var(--body-text);} 
    .global-location-number a{display:block; color:  var(--body-text);}
    .loc-accordion-content{display: none; padding-bottom: 60px;}
     
/*-- media starts here --*/
@media only screen and (min-width: 1024px){
    .global-loc-banner-main{gap: 141px; padding: 24px 0 160px; min-height: 473px;}
    .global-loc-banner-txt{flex: 0 0 420px; padding-top: 122px;}
    .global-location-right{flex: 0 0 calc(100% - 561px); height: 100%;}
    .global-location-row{gap: 50px;}
    .global-location-col{flex: 0 0 calc(20% - 50px);}

}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .global-location-row{gap: 33px;}
    .global-location-col{flex: 0 0 calc(25% - 25px);}

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .global-loc-banner-section{padding-top: 90px;}
    .global-loc-banner-main{display: block; padding: 73px 0 550px; min-height: 473px;}
    .global-loc-banner-txt{padding-bottom: 50px;}
    .global-location-right{height: 100%;}
    .global-location-row{gap: 20px;}
    .global-location-col{flex: 0 0 calc(33.333% - 14px);}

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .global-loc-banner-section{padding-top: 90px;}
    .global-loc-banner-main{display: block; padding: 73px 0 310px; min-height: 473px;}
    .global-loc-banner-txt{padding-bottom: 50px;}

    .loc-circle-1{width: 130px; height: 130px; top: 0; left: 21px; padding: 10px;}
    .loc-circle-2{width: 104px; height: 104px; top: 85px; right: 35px; padding: 7px;}
    .loc-circle-3{width: 104px; height: 104px; top: 171px; left: 30px; padding: 7px;}
    .loc-circle-4{width: 132px; height: 131px; top: 238px; right: 21px; padding: 10px;}
    .loc-circle-1::after {left: 169px; top: -5px; width: 3px; height: 100px; transform: translateY(50%) rotate(-72deg); transform-origin: center right;}
    .loc-circle-2::after {left: -110px; top: -68px; width: 3px; height: 120px; transform: translateY(50%) rotate(70deg); transform-origin: bottom left;}
    .loc-circle-3::after {left: 187px; top: -43px; width: 3px; height: 104px; transform: translateY(50%) rotate(-71deg);transform-origin: bottom right;}

    .global-location-wrap{padding: 50px 0 70px;}
    .global-location-row{display: block;}
    .global-location-col{padding-bottom: 40px;}

}
