@import url("./_banner-section.css");
@import url("./_common-intro-section.css");
@import url("./_optional-features-module.css");
@import url("./_common-section-mobule.css");
@import url("./_product-common-module.css");
@import url("./_cta-panel-section.css");


.product-common-section{background-color: var(--white);}
.product-common-wrap{padding-bottom: 38px;}
.product-common-item{background-color: var(--light-bluebg);}

/*-- media starts here --*/
@media only screen and (min-width: 1024px){
  
 
  


}